body{
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: #212121;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    font-weight: 700;
    
  }
.headr-logo{
  font-family: 'Raleway';
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #212121;
  text-decoration: none;
}
.headr-logo:focus, .headr-logo:hover{
  text-decoration: underline #2196F3;
}
.navigations-list{
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}
.contact-link{
  font-size: 14;
line-height: 1.7;
letter-spacing: 0.02em;
color: #757575;
text-decoration: none;
}
.button-main:focus,
.button-main:hover,
.button-main{
  color: #FFFFFF;
  background: #2196F3;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.button-control:focus,
.button-control:hover{
line-height: 0.5;
letter-spacing: 0.06em;
text-align: center;
border:none;
color: #2196F3;
}
h2{
font-size: 18px;
line-height: 0.44;
letter-spacing: 0.06em;
}
h3{
letter-spacing: 0.03em;
}
.texts{
font-size: 14px;
line-height: 1.5;
letter-spacing: 0.03em;
color: #757575;

}
.text{
font-weight: 400;
line-height: 1.9;
letter-spacing: 0.03em;
color: #757575;
}
.list-photo{
line-height: 0.84;
letter-spacing: 0.03em;
color: #757575;
}
.list-name{
font-weight: 500;
line-height: 0.8;
letter-spacing: 0.03em;
}
.navigations-list:hover, .contact-link:hover, .navigations-list:focus, .contact-link:focus{
color: #2196F3;
}
li{
  list-style-type:none;
}
.add{
font-size: 14px;
font-weight: 400;
line-height: 1.7px;
letter-spacing: 0.03em;
color: #FFFFFF;
margin-top: 20px;
text-decoration: none;
}
footer{
  background-color: #2F303A;
}
.button-control{
border-radius: 4px;
font-weight: 700;
line-height: 1.9;
letter-spacing: 0.06em;
border:none;
}
.work{
font-size: 36px;
font-weight: 700;
line-height: 1.2;
letter-spacing: 0.03em;
}
.logo-footer{
font-size: 'Raleway';
font-size: 26px;
font-weight: 700;
line-height: 1.2;
letter-spacing: 0.03em;
color:#FFFFFF;
text-decoration: none;
}
.logo-footer span, .headr-logo span{
  color: #2196F3;
}
.hero{
  background-color: #2F303A;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.list-team{
  background-color: #F5F4FA;
}
.color-hero{
  background-color: #FFFFFF
}
.headr-logo, .logo-list{
  cursor: pointer;
}