body{
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
    color: #212121;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    font-weight: 700;
}
.headr-logo{
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #212121;
  text-decoration: none;
}
.navigations-list{
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}
.contact-link{
  font-size: 14;
line-height: 1.7;
letter-spacing: 0.02em;
color: #757575;
text-decoration: none;
}
.button-control{
line-height: 1;
letter-spacing: 0.03em;
text-align: center;
}
.button-controls{
line-height: 0.5;
letter-spacing: 0.06em;
text-align: center;
}
button{
  cursor: pointer;
}
button:hover{
  background: #2196F3;
}
button:focus,ul :focus{
  color: #2196F3;
}
h2{
font-size: 18px;
line-height: 0.44;
letter-spacing: 0.06em;
}
h3{
letter-spacing: 0.03em;
}
.texts{
font-size: 14px;
line-height: 1.5;
letter-spacing: 0.03em;

}
.text{
font-weight: 400;
line-height: 1.9;
letter-spacing: 0.03em;
color: #757575;
}
.list-photo{
line-height: 0.84;
letter-spacing: 0.03em;
color: #757575;
}
.list-name{
font-weight: 500;
line-height: 0.8;
letter-spacing: 0.03em;
}
.navigations-list:hover, .contact-link:hover, .navigations-list:focus, .contact-link:focus{
  color: #2196F3;
}
.main-logo{
  text-decoration: none;
}
li{
  list-style-type:none;
}
.add{
font-size: 14px;
font-weight: 400;
line-height: 1.7px;
letter-spacing: 0.03em;
color: #FFFFFF;
margin-top: 20px;
text-decoration: none;
}
footer{
  background-color: #2F303A;
}
.button-controls{
height: 50px;
width: 200px;
left: 700px;
top: 430px;
border-radius: 4px;
font-weight: 700;
line-height: 1.9;
letter-spacing: 0.06em;
text-align: center;
}
.work{
font-size: 36px;
font-weight: 700;
line-height: 1.2;
letter-spacing: 0.03em;
}
.logo-footer{
font-size: 26px;
font-weight: 700;
line-height: 1.2;
letter-spacing: 0.03em;
color:#FFFFFF;
text-decoration: none;
}
.logo-footer span, .headr-logo span{
  color: #2196F3;
}
